* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.profile-card {
    background-color: #060047;
    border-radius: 8px;
    margin: 7px;
    padding: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.back {
    width: 20px;
    height: 20px;
}

.favorite{
    width: 20px;
    height: 20px;
}

.more {
    width: 20px;
    height: 20px;
}

nav {
    box-sizing: border-box;
}

/*
.user {
    margin: 20px;

    background-color: #060047;
    border-radius: 8px;

    display: flex;
    position: relative;
    width: 300px;
}

.user-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 2px 4px 10px black;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
*/
